body {
  background: #FAFAFA;
}

.badge-success {
  background: #5cb85c;
}

.badge-danger {
  background: #d9534f;
}

.list-group-item {
  padding: 20px 15px;
}

.form-control,
.btn,
.badge {
  border-radius: 0;
}

.thumb {
  width: 5em
}
