body {
  background: #FAFAFA;
}

.form-control,
.btn,
.badge {
  border-radius: 0;
}

.v-align {
  vertical-align: top;
}

#feedform input {
 font-size: 1.5em;
 vertical-align: middle;
 height: 1.5em
}

@media (max-width: 52em) {
  body {
    text-align: center;
  }

  .memberinfo {
    display: block;
  }

  .memberpic img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .container button {
    padding: 1.5em 0;
  }
}
